<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="companyDetailsFg">
    <form [formGroup]="companyDetailsFg" class="flex column">
      <ng-template matStepLabel>Company details</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Samuel Lee"
          formControlName="name"
          id="company-name"
        />
        @if (companyDetailsFg.controls.name.invalid) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>SIREN</mat-label>
        <input
          matInput
          placeholder="784671695"
          formControlName="siren"
          id="company-siren"
        />
        <mat-hint>This should be 9 digits</mat-hint>
        @if (companyDetailsFg.controls.siren.invalid) {
        <mat-error>{{ companySirenErrorMsg }}</mat-error>
        }
      </mat-form-field>
      <div>
        <button
          mat-button
          matStepperNext
          [disabled]="companyDetailsFg.invalid"
          id="company-next-btn"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="customerDetailsFg">
    <form [formGroup]="customerDetailsFg" class="flex column">
      <ng-template matStepLabel>Customer details</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Jean Paul"
          formControlName="name"
          id="customer-name"
        />
        @if (customerDetailsFg.controls.name.invalid) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="jean@mail.me"
          formControlName="email"
          id="customer-email"
        />
        @if (customerDetailsFg.controls.email.invalid) {
        <mat-error>{{ customerEmailErrorMsg }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input
          matInput
          placeholder="0909710978"
          formControlName="telephone"
          id="customer-phone"
        />
        <mat-hint>Only french numbers are supported</mat-hint>
        @if (customerDetailsFg.controls.telephone.invalid) {
        <mat-error>{{ customerPhoneErrorMsg }}</mat-error>
        }
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious id="customer-back-btn">
          Back
        </button>
        <button
          mat-button
          matStepperNext
          [disabled]="customerDetailsFg.invalid"
          id="customer-next-btn"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="installationDetailsFg">
    <form [formGroup]="installationDetailsFg" class="flex column">
      <ng-template matStepLabel>Installation details</ng-template>
      <div class="flex row gap-30">
        <div class="flex column flex-grow-20">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="260 Bvd de la Madeleine, Nice"
              formControlName="address"
              id="installation-address"
            />
            @if (installationDetailsFg.controls.address.invalid) {
            <mat-error>This field is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="date"
              id="installation-date"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (installationDetailsFg.controls.date.invalid) {
            <mat-error>This field is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Numbe of panels</mat-label>
            <input
              matInput
              placeholder="10"
              formControlName="numberOfpanels"
              id="installation-nb-panel"
            />
            @if (installationDetailsFg.controls.numberOfpanels.invalid) {
            <mat-error>Type a positive number</mat-error>
            }
          </mat-form-field>
          <mat-card>
            <mat-card-header>
              <span>Add panel</span>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div [formGroup]="addInstalltionFg" class="flex column">
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <select
                    matNativeControl
                    required
                    formControlName="type"
                    id="installation-type"
                  >
                    @for(installationType of panelTypeOptions; track
                    installationType) {
                    <option value="{{ installationType }}">
                      {{ installationType | uppercase }}
                    </option>
                    }
                  </select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>ID</mat-label>
                  <input
                    matInput
                    placeholder="123456"
                    formControlName="ID"
                    id="installation-id"
                  />
                  @if (addInstalltionFg.controls.ID.invalid) {
                  <mat-error>{{ installationIDErrorMsg }}</mat-error>
                  }
                </mat-form-field>
              </div>
              <button
                mat-button
                id="add-panel"
                (click)="addInstallation()"
                [disabled]="
                  addInstalltionFg.invalid ||
                  panels.length >=
                    installationDetailsFg.controls.numberOfpanels.value
                "
                id="installation-add-btn"
              >
                Add
              </button>
            </mat-card-content>
          </mat-card>
          <div>
            <button mat-button matStepperPrevious id="installation-back-btn">
              Back
            </button>
            <button
              mat-button
              matStepperNext
              [disabled]="
                installationDetailsFg.invalid ||
                panels.length <
                  installationDetailsFg.controls.numberOfpanels.value
              "
              (click)="sendPV()"
              id="installation-send-btn"
            >
              Send
            </button>
          </div>
        </div>
        <div class="flex column flex-one">
          <mat-list>
            <div mat-subheader>Installed panels</div>
            @for(panel of panels; track panel.ID; let idx = $index) {
            <mat-list-item>
              <mat-icon
                matListItemIcon
                (click)="removePanel(idx)"
                id="installation-panels-display"
                >delete</mat-icon
              >
              <div matListItemTitle class="p-type">
                {{ panel.type | uppercase }}
              </div>
              <div matListItemLine class="p-id">{{ panel.ID }}</div>
            </mat-list-item>
            } @empty {
            <div mat-subheader class="empty-panels">
              You do not have added any panel yet.
            </div>
            }
          </mat-list>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="flex column text-center gap-30">
      <img src="assets/solar-panel-banner.png" alt="solar panel banner" />
      <p>Thank you, your repport is on its way to us</p>
    </div>
    <div>
      <button mat-button (click)="stepper.reset()" id="done-start-new">
        Start new
      </button>
    </div>
  </mat-step>
</mat-stepper>

<!-- templates -->
<ng-template #snackErrorTpl>
  <span matSnackBarLabel> An error occure, please try again later </span>
</ng-template>
