<mat-toolbar class="header" color="primary">
  <button
    mat-icon-button
    class="example-icon"
    title="Fill out a PV"
    routerLink="/"
    id="menu-item-pv"
  >
    <a><mat-icon>assignment</mat-icon></a>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    title="See all PVs"
    routerLink="/preview"
    id="menu-item-preview"
  >
    <mat-icon>list</mat-icon>
  </button>
  <span class="header-spacer"></span>
  <a href="https://dualsun.com/" target="_blank" id="logo-link">
    <img src="assets/logo.png" alt="DualSun Logo" />
  </a>
</mat-toolbar>

<mat-toolbar class="footer">
  DualSun, +33 4 13 41 53 70, contact&#64;dualsun.fr
</mat-toolbar>

<router-outlet />
