/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.flex-one {
    flex: 1;
}
.flex-grow-20 {
    flex: 1 1 20%;
}
.gap-10 {
    gap: 10px;
}
.gap-30 {
    gap: 30px;
}